* {
  padding: 0%;
  margin: 0%;
  background-color: rgb(255, 192, 209);
}
body {
  position: relative;
  display: flex;
  justify-content: center;
  top: 165px;
}
.box {
  background-color: #ffffff;
  border-radius: 10px;
  height: auto;
  width: 28vw;
}
.input {
  border-radius: 1rem;
  font-size: larger;
  color: black;
  margin: 2px;
  background-color: rgba(232, 229, 229, 0.493);
  width: 90%;
  height: 40px;
}
.set-btn{
  text-decoration: none;
  background-color: #ffffff18;
  width: 100%;
  height: 40px;
}
.li{
  border: 1px solid black;
  padding: 2px;
  border-radius: 1rem;
  border: 1rem;
  font-size: larger;
  color: black;
  background-color: rgba(231, 231, 231, 0.5);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
.del{
  background-color: #ffffff3c;
  border: none;
  height: 40px;
  width: 80px;
}